{% extends '::base.html.twig' %}

{% block title 'demontpx_user.delete'|trans ~ ': ' ~ user.username %}

{% block content %}
    <h2>{{ block('title') }}</h2>

    {{ form_start(form) }}
        <p>
            {{ 'demontpx_user.manage.delete_confirm'|trans({ '%username%': user.username }) }}
        </p>
        {{ form_rest(form) }}
        <button type="submit" class="btn btn-danger">{{ 'demontpx_user.manage.delete_yes'|trans }}</button>
        <button type="button" class="btn btn-link" onclick="history.back()">{{ 'demontpx_user.manage.delete_no'|trans }}</button>
    {{ form_end(form) }}
{% endblock %}
