{% extends '::base.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block content %}
    <div class="container">
        <p>
            {{ 'demontpx_user.manage.delete_confirm'|trans({ '%username%': user.username }) }}
        </p>
        {{ form_start(form) }}
        <button type="submit" class="btn btn-danger">{{ 'demontpx_user.manage.delete_yes'|trans }}</button>
        <button type="button" class="btn btn-link" onclick="history.back()">{{ 'demontpx_user.manage.delete_no'|trans }}</button>
        {{ form_rest(form) }}
        {{ form_end(form) }}
    </div>

    {% javascripts '@DemontpxUserBundle/Resources/public/js/user_edit.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
