{% extends 'base.html.twig' %}

{% block title (new ? 'demontpx_user.new'|trans : 'demontpx_user.edit'|trans ~ ': ' ~ user.username) %}

{% block content %}
    <h2>{{ block('title') }}</h2>

    {{ form_start(form) }}
    {{ form_row(form.username) }}
    {{ form_row(form.fullName) }}
    {{ form_row(form.email) }}
    {{ form_row(form.plainPassword) }}
    {% if form.roleList is defined %}
        {{ form_row(form.roleList, { attr: { class: 'select2' } }) }}
    {% endif %}
    {{ form_rest(form) }}

    <button type="submit" class="btn btn-primary">{{ 'demontpx_user.manage.save'|trans }}</button>
    <button type="button" class="btn btn-link" onclick="history.back()">{{ 'demontpx_user.manage.cancel'|trans }}</button>
    {{ form_end(form) }}
{% endblock %}
