{% extends "::base.html.twig" %}

{% block content %}
<div class="col-md-4 col-md-offset-4" id="login">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <form action="{{ path("demontpx_user_security_check") }}" method="post">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

        <input type="text" id="username" class="form-control input-lg" name="_username" placeholder="{{ 'demontpx_user.username'|trans }}" value="{{ last_username }}" required="required" autofocus/>
        <input type="password" id="password" class="form-control input-lg" name="_password" placeholder="{{ 'demontpx_user.security.password'|trans }}" required="required" />

        <label class="checkbox" for="remember_me">
            <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
            {{ 'demontpx_user.security.remember_me'|trans }}
        </label>

        <input type="submit" id="_submit" class="btn btn-primary btn-block btn-lg" name="_submit" value="{{ 'demontpx_user.security.sign_in'|trans }}" />
    </form>
</div>
{% endblock %}
